<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.prasans">
    <application android:icon="@drawable/icon" android:label="Multi Choice"
                 android:theme="@style/MyTheme">
        <activity android:name=".multichoice.activity.HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".multichoice.activity.TestInfoEntryScreen"/>
        <activity android:name=".multichoice.activity.EnterAnswersScreen"/>
        <activity android:name=".multichoice.activity.ReportsScreen"/>
        <activity android:name=".multichoice.activity.DisplayScoreScreen"/>
        <activity android:name=".multichoice.activity.EnterChoicesScreen"/>
        <activity android:name=".multichoice.activity.SplashScreen" android:theme="@android:style/Theme.Dialog"/>
        <receiver android:name=".multichoice.service.SMSMonitor">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
</manifest>
